.expandable-grid__container {
  display: flex;
  justify-content: center;
  border-radius: 0.3125rem;
  background-color: #fff;
}

.expandable-grid__table {
  border-radius: 0.3125rem;
  border-spacing: 0rem;
  background-color: #fff;
  width: 100%;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.expandable-grid__header {
  height: 3.25rem;
  padding: 1rem;
  color: #fff;
  background-color: #17365c;
}

.checkbox__header {
  width: 1.125rem;
  height: 1.125rem;
}

.expandable-grid__container--empty {
  display: flex;
 justify-content: center;
 text-align: center;
 align-content: center;
  font-size: 1rem;
  font-weight: bold;
  color: #969696;
  height: 3.75rem;
}


td {
  border: none;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  color: #000;
}

th {
  font-weight: 500;
  color: #fff;
  padding: 0.75rem;
}

.expandable-grid__actions--column {
  background-color: #fff;
  display: flex;
  justify-content: center;
}


