.page {
  align-self: center;
}
.pages-title {
  padding-top: 10px;
  text-align: center;
  font-size: 16pt;
  font-weight: bold;
  margin-bottom: 20px;
}

.Plotly {
  margin-top: 2%;
  margin-left: 25%;
  width: 800px;
  height: 600px;
}

.container-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.generic-form {
  background-color: white;
  padding: 50px 60px;
  border-radius: 10px;
  border: solid 1px black;
}

.bttn-submit {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: #2c22b9;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}

.reometry-plotly-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
