.header {
  display:flex;
  margin-top: 0px;
  width: 100%;
  flex-direction: column;
  background-color: rgb(44, 34, 185);
  color: rgb(255, 255, 255);
}

.header-bottom {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: inherit
}
  .header-bottom_mail a{
    color: inherit;
  }
.header-top {
  display: flex;
  height: 8vh;
  font-size: 12px;    
}

  .header-top_logo {
    display: flex;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .header-top_separator {
    width: 100%;
    height: 1px;
    color: inherit;
    display: block;
  }
  
  .header-top_navbar {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: inherit;
    margin-left: 100px;
  }

.navigation {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-right: 55px;
}