.header {
    position: absolute;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.9);
  }

  .header-bottom {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-top: 6px;
    font-size: 12px;
  }

  .header-top {
    display: flex;
    height: 8vh;
    font-size: 24px;
    align-items: center;
  }
  
    .header-top_logo {
      display: flex;
      text-decoration: none;
      margin-left: 20px;
    }
    
    .header-top_seperator {
      width: 100%;
      height: 3px;
    }
    
    .header-top_navbar {
      display: flex;
      flex: 1;
      flex-direction: column;
      color: inherit;
      margin-left: 100px;
    }
  
  .navigation {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-right: 55px;
  }