/*TODO: Commment each style className */

/* Container Button Style - Generic */
.fab-container-up,
.fab-container-down,
.fab-container-left,
.fab-container-right {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  /* position: fixed; */
  right: 4em;
  bottom: 2em;
}

/* Container Button Style - Up */
.fab-container-up {
  flex-direction: column-reverse;
}

/* Container Button Style - Down */
.fab-container-down {
  flex-direction: column;
}

/* Container Button Style - Left */
.fab-container-left {
  flex-direction: row-reverse;
}

/* Container Button Style - Right */
.fab-container-right {
  flex-direction: row;
}

/* Main Button Style */

.fab-main-button {
  border-radius: 50%;
  border-color: transparent;
  padding: 1rem;
  margin: 0.625rem;
  place-items: center;
}

.fab-main-button:hover {
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.19),
    0 0.375rem 0.375rem rgba(0, 0, 0, 0.23);
  transition: box-shadow 0.2s ease;
  outline: none;
  cursor: pointer;
  transform: scale(1.1) rotate(15deg);
}

.fab-main-button .tooltip {
  visibility: hidden;
  background-color: #424242;
  color: #fafafa;
  text-align: center;
  border-radius: 0.375rem;
  padding: 0.3125rem;

  /* Position the tooltip */
  position: absolute;
}

.fab-main-button:hover .tooltip {
  visibility: visible;
  pointer-events: auto;
}

/* Action Button Style */

.fab-action-button {
  border-radius: 100%;
  padding: 1rem;
  margin: 0.625rem;
  display: flex;
  align-items: center;
}

.fab-action-button:hover {
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.19),
    0 0.375rem 0.375rem rgba(0, 0, 0, 0.23);
  transition: box-shadow 0.2s ease;
  outline: none;
}

.fab-action-button .tooltip {
  visibility: hidden;
  background-color: #424242;
  color: #fafafa;
  text-align: center;
  border-radius: 0.375rem;
  font-size: 0.7rem;
  padding: 0.3125rem;
  /* Position the tooltip */
  position: absolute;
  bottom: 15%;
}

.fab-action-button:hover .tooltip {
  visibility: visible;
  pointer-events: auto;
}

li {
  list-style-type: none;
}
