.tab {
  justify-content: center;
  display: flex;
}

.tab-header {
  display: flex;
  justify-content: center;
  padding: 5px;
  text-align: center;
  align-items: baseline;
}

.tabs__list {
  flex-wrap: wrap;
  justify-items: center;
  width: 80%;
  height: 80%;
}

.tabs__item {
  background: #ffff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 2px 5px 6px 5px;
  text-decoration: none;
  color: black;
  display: inline-block;
}

.tabs__list :focus {
  background: #e2e7ed;
  transition: 0.3s;
  box-shadow: inset 0px -1.70254px 0px #7cabdc;
}

.tabs__container {
  justify-content: center;
  display: flex;
  top: 20px;
  padding: 10px 5px 6px 5px;
}
