.tab{
  justify-content: center;
  display: flex;
}


.tabs__list {
  flex-wrap: wrap;
  justify-items: center;
  width: 80%;
  height: 80%;


}

.tabs__item{
  width: 50%;
  height: 50%;
  justify-content: center;
  margin-left: 1px;
  border: 1px solid black;
  background: #FFFF; 
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;  
  padding: 2px 5px 6px 5px;
  text-decoration : none;
  color:black
}

.tabs__list :focus {

  background: #E2E7ED;
  transition: 0.3s;
  box-shadow: inset 0px -1.70254px 0px #7CABDC;
  
}

.tabs__container {
  justify-content: center;
  display: flex;
  top: 20px;
  padding: 10px 5px 6px 5px;
}