.gridFormSection {
    justify-items: left;
    border-color: black;
}

.gridFormSection h4{
    width: 100%;
}

.gridFormInputRow {  
    width: 100%;
    display: inline-block;
}

.rowLabel {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    background-color: gray;
    color: black;
    /* display: inline-block; */
    height: 100%;
}

.rowInput {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
    background-color: white;
    border-color: black;
    color: black;
    /* display: inline-block; */
    height: 100%;
}