.gridFormSection {
  justify-items: right;
  border-color: black;
  width: 100%;
}

.gridFormSection h4 {
  width: 100%;
  color: white;
}

.gridFormInputRow {
  width: 100%;
}

.rowLabel {
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  color: rgb(255, 255, 255);
  display: inline-block;
  height: 100%;
  min-width: 150px;
}

.rowInput {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid black;
  background-color: white;
  border-color: black;
  color: black;
  height: 100%;
  max-width: 40%;
}

.rowUnitSelect {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid black;
  background-color: white;
  border-color: black;
  color: black;
  height: 100%;
}
/* 
table {
  background-color: #fff;
  border-color: rgb(255, 255, 255);
}

th {
  background-color: #17365c;
  color: #fff;
  width: 86px;
  height: 20px;
}
 */
