.container-form-new-project {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  overflow: scroll;
  overflow-x: hidden;
}

.form-new-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  height: 60vh;
}

.bttn-new-project__container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 4vh;
}

.bttn-new-project__cancel,
.bttn-new-project__save {
  display: flex;
  font-weight: 700;
  cursor: pointer;
  align-items: center;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  background-color: #17365c;
  color: white;
  border: none;
}

.bttn-new-project__text {
  margin-left: 0.3125rem;
}
