.sliding-pane-children {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 0.75rem;

    height: 100%;
  }
  
  .sliding-pane-children ul {
    height: 97vh;
  }
  
  .sliding-pane-children ul .accordion {
    height: 80vh;
  }

  .lista__container {
    color: black;
    position: absolute;
    justify-content: center;
    margin-left: 20em;
  }