.container {
  display: flex;
  align-items: center;
  position: absolute;
}

.sidebar {
  background: #e2e7ed;
  color: #fff;
  height: 100vh;
  width: 18.75rem;
  transition: all 0.5s;
  border-radius: 0.625rem;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.625rem 0.9375rem 0.9375rem 0.625rem;
}
.logo {
  font-size: 1rem;
  color: #17365c;
}
.bars {
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
}

.search-bar-container {
  margin: 0.625rem 0.9375rem 0.9375rem 0.625rem;
}

.main-menu {
  border-radius: 0.5rem;
  background-color: #fff;
  height: 60%;
  margin: 0.625rem 0.9375rem 0.9375rem 0.625rem;
}

.side-menu-footer-logo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  overflow: hidden;
}

.side-footer-img {
  width: 2.5rem;
}

.side-footer-bttn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  background-color: #fff;
  margin: 0.625rem;
  border-radius: 0.5rem;
  padding: 0.625rem;
}

.avatar {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: baseline;
  color: #17365c;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0.5rem 0rem 0.5rem 0rem;
}
