
.side-menu {
  position: fixed;
  background: rgb(224, 217, 217);
  width: 350px;
  height: 100%;
  box-sizing: border-box;
   /* padding: 30px 20px;  */
  transition: width 0.2s ease-in;
}

.side-menu.inactive {
  width: 80px;
}



.side-menu .top-section {
  position: relative;
}

 .side-menu .top-section .toggle-menu-btn {
  color: black;
  font-size: 25px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;

 }

.side-menu .search-controller .search-btn {
  width: 40px;
  height: 35px;
  position: absolute;
  background: transparent;
  border: 0;
  font-size: 20px;
  color: white;
}

.side-menu .search-controller input[type="text"] {
  border: 0;
  outline: none;
  height: 35px;
  background: #333;
  border-radius: 5px;
  display: block;
  margin: 20px 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  color: white;

}

.side-menu .main-menu {
  position: relative;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
} 



.side-menu-footer {
  width: 100%;
  background: #333;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
}

.side-menu-footer-logo {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  overflow: hidden;
}

.side-footer-bttn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.side-menu-footer .avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
}


.container {
  margin-left: 300px;
  transition: margin-left 0.2s ease-in;
  padding: 50px;
  box-sizing: border-box;
}

.container.inactive {
  margin-left: 80px;
}

