.slide-pane__content {
  padding: 0 2rem;
}

.open-bttn,
.close-bttn {
  border: 1px solid black;
  color: black;
  font-size: 1.2rem;
  padding: 0.5rem;
  position: absolute;
  border-radius: 4px;
  height: 100vh;
  transition-duration: 0.4s;
}

.open-bttn {
  right: 0;
}

.close-bttn {
  left: 0;
}

.close-bttn:hover,
.open-bttn:hover {
  background-color: gray;
}
