.sliding-pane-container {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.sliding-pane-bttn {
  height: 100vh;
  width: 2.5rem;
  background-color: #17365c;
  border-style: hidden;
  border-radius: 0.5rem;
  color: #fff;
}

.fa {
  font-size: large;
}


