.sliding-panel__container {
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  height: 100vh;

}

.sliding-panel__bttn {
  height: 100vh;
  width: 2.5rem;
  background-color: #17365c;
  cursor: pointer;
  border-style: hidden;
  border-radius: 0.5rem;
  color: #ffffff;
}

.sliding-panel__children {
  background-color: #e2e7ed;
  height: 100vh;
  display: flex;
  padding: 1rem;
  animation: width-transition 1s  forwards;
  width: 0%;
}

@keyframes width-transition {
  to {width: 30%;}
}
