.TreeComponent {
    padding: 0px 1rem;
    width: 90rem;
    border-top-right-radius: 1rem;
    cursor: pointer;
    
}

.itemTree{
  padding: 0 0 0 2rem;
  font-size: 1rem;
  font-weight: 500;
}

.TreeComponent button{
  font-size: 1rem;
  font-weight: 900;
}