.TreeComponent {
    padding: 0px 10px;
    width: 180px;
    border-top-right-radius: 10px;
    cursor: pointer;
    
}

.itemTree{
  padding: 0 0 0 18px;
  font-size: 16px;
  font-weight: 600;
}

.TreeComponent button{
  font-size: 16px;
  font-weight: 900;
}