.search-controller {
  color: #fff;
  position: relative;
}

.search-controller .search-btn {
  width: 2.1875rem;
  height: 1.875rem;
  cursor: pointer;
  position: absolute;
  background: transparent;
  border: 0;
  font-size: 1.125rem;
  color: #17365C;
}

.search-controller input[type="text"] {
  border: 0;
  outline: none;
  padding: 0;
  margin: 0;
  height: 1.875rem;
  background: #fff;
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1.875rem;
  color: black;
}

#clearBtn {
  cursor: pointer;
}