

.input-fluid{
    height: 5vh;
    width: 10vh
}

.back-modal{
    background-color: #E2E7ED;
    border: 1px solid;
}

.label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14.1011px;
    line-height: 120%;
}

.input-fluid-nome{
    width: 40vh;
}

.modal_cancel-button {
    position: absolute;
    left: 0.625rem;
    bottom: 0.625rem;
    padding: 0.625rem;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 0.9375rem;
    text-align: center;
}

.modal_confirm-button {
    position: absolute;
    right: 0.625rem;
    bottom: 0.625rem;
    background: green;
    padding: 0.625rem;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 0.9375rem;
    
}
  
.switch {
    margin: 50px;
  }