@media screen and (min-width: 10px) {

    .accordion {
        min-width: 350px;
        background-color: #fff;
    }
    
    .accordion_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: top;
        position: relative;
        padding-bottom: 10px;
        width: 100%;
        
    }
    
    .accordion_container {
        align-self: center;
        background-color: #f2f2f2;
        align-items: center;
        background: transparent;
        width: 100%;
        
    }
    
    .accordion_wrap {
        border-style: groove;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        cursor: pointer;
        background-color: transparent;
        width: 100%;
        color: black

    }
    
    .accordion_wrap div {
        background-color:transparent;
        border:1px solid ;    
        height:auto;
        border-radius:30%;
        -moz-border-radius:30%;
        -webkit-border-radius:30%;
        width: auto;
        font-family: fantasy;
        color : black;
        animation-timing-function: ease-out;
        
    }
    
    .accordion_wrap h1 {
        padding: 10px;
        font-size: 1rem;
     }
    
    .accordion_wrap span {
        margin-right: 1rem;
        }
    
    .accordion_dropdown_item {
        border: 2px groove black;
        animation-timing-function: ease-out;
        
    }
    
    .accordion_dropdown {
        
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity:0;
        transform: translateY(0);  
        animation: slide .5s forwards;
        

    }
    
    .accordion_wrap button{
        float: right;
        color: black;
        background-color: yellow;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    
    .accordion_dropdown p {
        font-size: 2rem;
      }
    
      @keyframes slide{
        
        to{
            transform: translateY(0);
            opacity: 1;
        }
      }
    }