@media screen and (min-width: 10px) {

    .accordion {
        min-width: 350px;
    }
    
    .accordion_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: top;
        position: relative;
        height: auto;
        padding-bottom: 10px;
    }
    
    .accordion_container {
        /* position: absolute;
        top: 30%;
        box-shadow: 2px 10px 35px 1px rgba(153, 153, 153, 0.3);
         */
        align-self: center;
        border-radius: 5px;
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        padding: 5px;
        align-items: center;
        background: #48CAE4;
    
        
    }
    
    .accordion_wrap {
        border-style: groove;
        border-color: #48CAE4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-align: center;
        cursor: pointer;
        background-color: #48CAE4;
    
    }
    
    .accordion_wrap div {
        background-color:transparent;
        border:1px solid ;    
        height:auto;
        border-radius:30%;
        -moz-border-radius:30%;
        -webkit-border-radius:30%;
        width: auto;
    
        font-family: fantasy;
        color : #fff;
    
        animation-timing-function: ease-out;
        
    }
    
    .accordion_wrap h1 {
        padding: 10px;
        font-size: 1rem;
     }
    
    .accordion_wrap span {
        margin-right: 1rem;
        }
    
    .accordion_dropdown_item {
        border-style: groove;
        border-color: #48CAE4;
        {animation-timing-function: ease-out;}
    }
    
    .accordion_dropdown {
        
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        opacity:0;
        transform: translateY(0);
    
    
        animation: slide .5s forwards;
    }
    
    .accordion_wrap button{
        float: right;
        color: black;
        background-color: yellow;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    
    .accordion_dropdown p {
        font-size: 2rem;
      }
    
      @keyframes slide{
        
        to{
            transform: translateY(0);
            opacity: 1;
        }
      }
    }