@media screen and (min-width: 10px) {

    .accordion {
        min-width: 350px;
    }
    
    .accordion_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: top;
        position: relative;
        padding-bottom: 10px;
        width: 100%;
        
    }
    
    .accordion_container {
        align-self: center;
        background-color: #f2f2f2;
        align-items: center;
        background: transparent;
        width: 100%;
        
    }
    
    .accordion_wrap {
        border: 3px groove transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        cursor: pointer;
        background-color: transparent;
        width: 100%;
        color: black;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
        
    }
    
    .accordion_wrap div {
        background-color:transparent;  
        height:auto;
        width: auto;
        font-family: fantasy;
        color : black;
        animation-timing-function: ease-out;
        padding: 5px 18px 5px;
        font-size: 25px;
        
    }
    
    .accordion_wrap h1 {
        padding: 10px;
        font-size: 1rem;
     }
    
    .accordion_wrap span {
        margin-right: 1rem;
        }
    
    .accordion_dropdown_item {
        border: 2px groove;
        animation-timing-function: ease-out;
        border-radius: 7.89262px;
        
    }
    
    .accordion_dropdown {
        
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity:0;
        transform: translateY(0);  
        animation: slide .5s forwards; 
        padding: 5px 5px 5px;      
    }
    
    .accordion_wrap button{
        float: right;
        color: black;
        background-color: yellow;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    
    .accordion_dropdown p {
        font-size: 2rem;
      }
    
      @keyframes slide{
        
        to{
            transform: translateY(0);
            opacity: 1;
        }
      }
    }