.card-body-cases {
  display: flex;
  justify-content: space-evenly;
}

.card-container-cases {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 0 0.5rem;
}

.card-image-cases {
  height: 10rem;
  padding: 0 1rem 0.4rem 0;
  width: 100%;
  object-fit: cover;
}

.card-container-bttn-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 0 0 0.5rem;
}


.card-buttons {
  display: flex;
  justify-content: center;
}

.card-description-cases {
  display: flex;
  resize: none;
  text-align: center;
  padding: 1rem;
}

.card-fluids {
  list-style: circle;
  margin-left: 1rem;
}
