.container-outside-form-pump {
  display: flex;
  justify-content: center;
}

.container-form-pump {
  margin: 1.5625rem 0rem;
}

.generic-form-pump {
  padding: 0.9375rem 0rem 3.4375rem 1.875rem;
  background-color: #17365c;
  border: none;
  border-radius: 0.5rem;
  width: 650px;
  height: 92px;
}

.formInput {
  width: 92%;
}

.container-input-btn-pump {
  display: flex;
}

.btn-add-fluid-pump {
  /* float: right; 
  margin: 0.3125rem 1.25rem;
  height: 1.7188rem;*/
  width: 1.7188rem;
  background-color: #fff;
  border-radius: 3.125rem;
  border: none;
  cursor: pointer;
  display: block;
}

.hint-add-pump {
  position: relative;
  /* margin-bottom: 20px; */
}
.hint-add-pump:after {
  content: attr(data-tooltip);
  background-color: #424242;
  color: #fafafa;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  opacity: 0;
  position: absolute;
  z-index: 3;
  font-size: 0.9rem;
  width: 70px;
  /* 
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center; */
  visibility: hidden;
  transition: opacity 0.25s ease-in-out;
}
.hint-add-pump:hover:after {
  opacity: 1;
  visibility: visible;
}
[data-position="bottom"]::after {
  right: 10px;
}

.btn-add-fluid-pump .fas {
  color: #17365c;
  font-size: 0.9375rem;
}

input {
  border-radius: 0.3125rem;
  font-size: 0.75rem;
  font-family: "Inter";
  font-weight: 400;
}

.label-input-pump {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9532rem;
  line-height: 1.8rem;
  color: #fff;
}

select {
  width: 552px;
  height: 30px;
  font-size: 0.75rem;
  padding: 0 0.625rem;
  font-family: "Inter";
  font-weight: 400;
  border: 0.953216px solid #e3e8ee;
  box-shadow: 0px 0.953216px 1.90643px rgba(55, 65, 81, 0.08);
  border-radius: 3.81287px;
}
