.container-form {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: inline-block;
  width: 46.875rem;
  height: 5.75rem;
}

.generic-form {
  /* padding: 50px 60px; */
  background-color: #17365c;
  border: none;
  border-radius: 0.5rem;
}

.bttn-submit {
  float: right;
  width: 27.5px;
  height: 27.5px;
  border: none;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
}

.fas {
  color: #17365c;
  font-size: 20px;
}

.formInput {
  float: left;
  width: 40.75rem;
  height: 1.875rem;
  margin-top: 0.25rem;
}

input {
  /* padding: 0.9375rem;
  margin: 0.625rem 0rem;
  padding: 0 0.625rem; */
  border-radius: 0.3125rem;
  font-size: 0.75rem;
  font-family: "Inter";
  font-weight: 400;
}

label {
  /* line-height: 1.4375rem; */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9532rem;
  color: #fff;
}

span {
  /* padding: 0.1875rem; */
  font-size: 0.75rem;
  color: red;
  display: none;
}

select {
  width: 40.75rem;
  height: 1.875rem;
  font-size: 0.75rem;
  padding: 0 0.625rem;
  font-family: "Inter";
  font-weight: 400;
  border: 0.953216px solid #e3e8ee;
  box-shadow: 0px 0.953216px 1.90643px rgba(55, 65, 81, 0.08);
  border-radius: 3.81287px;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span {
  display: block;
}
