.modal_overlay {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
    z-index: 3;
}

.modal_container {
    background: #fff;
    width: 70%;
    max-height: 80vh;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-wrap: wrap;
    color: #000;
    display: flex;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}


.modal_close-button {
 
    border: none;
    cursor: pointer;
    position: absolute;
    background: transparent;
    font-size: 1rem;
    top: 0.3125rem;
    right: 0.3125rem;
    width: 2rem;
    height: 2rem;
    /* padding: 0; */
    color: #000;
}

.modal_cancel-button {
    position: absolute;
    left: 0.625rem;
    bottom: 0.625rem;
    padding: 0.625rem;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 0.9375rem;
    text-align: center;
}

.modal_confirm-button {
    position: absolute;
    right: 0.625rem;
    bottom: 0.625rem;
    background: green;
    padding: 0.625rem;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 0.9375rem;
    
}
