*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/* 
body {
  font-family: Arial, Helvetica, sans-serif;
} */


.App {
}

.main {
  /* background: linear-gradient(rgba(32, 29, 82, 0.5), rgba(100,100,100,0.5),rgba(255,255,255,0.5) ), 
              url("./images/background-image.jpeg"); */
  height: 100vh;
  background-position: center;
  background-size: 100%;
}

.scope {
  min-width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  align-self: center;
  justify-self: center;
  margin: 0 auto;
  max-width: 30%;

}

.grid-container {
  min-width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  align-self: center;
  justify-self: center;
  margin: 0 auto;
  max-width: 30%;

}