*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/* 
body {
  font-family: Arial, Helvetica, sans-serif;
} */


.App {
  text-align: center;
}

.main {
  background: linear-gradient(rgba(32, 29, 82, 0.5), rgba(100,100,100,0.5),rgba(255,255,255,0.5) ), 
              url("./images/background-image.jpeg");
  height: 100vh;
  background-position: center;
  background-size: 100%
}

.scope {
  background-color: transparent;
  align-self: center;
  justify-self: center;
  height: 80vh;
  width: 50%

}